@model OO_Backend.Models.RequestAd

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RequestAd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
